fastapi[standard]==0.115.0
uvicorn==0.31.0
python-dotenv==1.0.1
decouple==0.0.7
mypy==1.14.0
supabase==2.7.4
logfire==3.7.1
SQLAlchemy==2.0.35
tenacity==9.0.0
psycopg==3.2.5
psycopg-binary==3.2.5
psycopg2==2.9.10
opentelemetry-instrumentation-asgi==0.51b0
opentelemetry-instrumentation-fastapi==0.51b0
types-certifi==2021.10.8.3
types-requests==2.32.0.20250306
types-toml==0.10.8.20240310
typing_extensions==4.12.2